@font-face {
  font-family: 'Abel';
  src: url('https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/abel-regular-webfont.woff2') format('woff2'),
  url('https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/abel-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-light-webfont.woff2') format('woff2'),
  url('https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
  url('https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-medium-webfont.woff2') format('woff2'),
  url('https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
  url('https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}