@import "fonts";

$font__main                  : 'Roboto', sans-serif;
$font__header                : 'Abel', sans-serif;
$font__pre                   : Monaco, Consolas, monospace;
$font__line-height-body      : 1.8;
$font__line-height-pre       : 1.6;

$size__site-main             : 100%;
$size__site-sidebar          : 25%;
$size__box                   : 1240px;
$size__box-inner             : 1024px;
$size__tablet                : 768px;

$color__main                 : #c49867;
$color__main-dark            : #6e5430;
$color__bg-light             : #f5f5f5;

$color__text-title           : #1a1a1a;
$color__text-body            : #4d4d4d;
$color__text-hl              : #ececec;
$color__link                 : $color__text-body;
$color__link-hl              : $color__main;
$color__text-screen          : $color__text-hl;

$color__background-body      : white;
$color__background-section   : white;
$color__background-button    : $color__main-dark;
$color__background-button-hl : transparent;
$color__background-pre       : $color__bg-light;
$color__background-ins       : $color__bg-light;
$color__background-hr        : $color__bg-light;
$color__background-input     : $color__bg-light;
$color__background-screen    : $color__main;

$color__border-button        : $color__main-dark;
$color__border-button-hl     : $color__text-hl;

$color__border-abbr          : $color__main;