@charset "UTF-8";
/*--------------------------------------------------------------
# Gutenberg
--------------------------------------------------------------*/
@font-face {
  font-family: 'Abel';
  src: url("https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/abel-regular-webfont.woff2") format("woff2"), url("https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/abel-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-light-webfont.woff2") format("woff2"), url("https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-medium-webfont.woff2") format("woff2"), url("https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-mediumitalic-webfont.woff2") format("woff2"), url("https://divulgacine.com/wp-content/themes/gemini/scss/variables/fonts/roboto-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

.entry-header,
.page-header,
#comments {
  margin: 2rem auto;
  max-width: 768px; }

.entry-content {
  margin: 3rem auto; }
  .entry-content > *,
  .entry-content > .gform_wrapper {
    margin: 2rem auto;
    max-width: 768px; }
  .entry-content > .alignwide {
    max-width: 918px; }
  .entry-content > .alignfull {
    max-width: 100%; }
  .entry-content > .wp-block-webfactory-map {
    margin: 0;
    max-width: 100%; }
  .entry-content > ul > li {
    margin: 0 0 0 4rem; }
  .entry-content ul li a,
  .entry-content p a,
  .entry-content table a {
    color: #c49867;
    font-weight: 500;
    border-bottom: 2px solid #c49867; }
  @media screen and (max-width: 768px) {
    .entry-content {
      margin: 0; }
      .entry-content > * {
        max-width: 100%;
        padding: 0 2rem; } }

.home .entry-content > * {
  max-width: 1024px; }

.home .entry-content > .alignwide {
  max-width: 1174px; }

.home .entry-content > .wp-block-webfactory-map {
  max-width: 100%; }

@media screen and (max-width: 1024px) {
  .home .entry-content {
    margin: 0; }
    .home .entry-content > * {
      max-width: 100%;
      padding: 0 2rem; } }

/* Home */
.lista-icono {
  margin-bottom: 2rem; }
  .lista-icono .lista-icono-titulo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem; }
    .lista-icono .lista-icono-titulo > * {
      width: auto;
      margin-right: 10px; }
    .lista-icono .lista-icono-titulo + p {
      margin-left: 36px; }

/* Columnas */
@media screen and (min-width: 782px) {
  .wp-block-column:not(:last-child) {
    padding-right: 3rem; } }

/* Galerías */
.wp-block-gallery {
  margin: 0; }
