// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Media queries mixins
@mixin tablet {
	@media only screen and (max-width : #{$size__tablet}) {
		@content;
	}
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// arreglar last-row flex
@mixin last-row-flexbox($num-columns, $width-items){

	//Vamos a calcular el espacio que queda entre los elementos para usarlo de márgen en los sueltos.
	$filled-space: $width-items * $num-columns;
	$margin: calc((100% - #{$filled-space}) / (#{$num-columns} - 1));

	$num-cols-1 : $num-columns - 1;

	//Establezco el ancho.s
	width: $width-items;
	//Damos el margen izquierdo a todos los elementos sueltos menos al primero.
	&:nth-child(#{$num-columns}n+1):nth-last-child(-n+#{$num-cols-1}) ~ & {
		margin-left: $margin;
	}

	//Mediante el bucle, generamos todas las posibles posiciones del last-child para darle margin-right auto.
	@for $i from 1 through $num-columns - 2 {
		$index: $num-columns - $i;
		&:nth-child(#{$num-columns}n+#{$index}):last-child{
			margin-right: auto;
		}
	}

	// NO ES NECESARIO PARA LA ALINEACIÓN, ES SIMPLEMENTE LA SELECCIÓN DE LOS ELEMENTOS HUÉRFANOS DE LA ÚLTIMA FILA
	&:nth-child(#{$num-columns}n+1):nth-last-child(-n+#{$num-cols-1}),
	&:nth-child(#{$num-columns}n+1):nth-last-child(-n+#{$num-cols-1}) ~ & {
		background: deepskyblue;
	}
}