

.entry-header,
.page-header,
#comments {
  margin: 2rem auto;
  max-width: 768px;
}

.entry-content {

  margin: 3rem auto;

  & > *,
  & > .gform_wrapper {
    margin: 2rem auto;
    max-width: $size__tablet;
  }
  & > .alignwide {
    max-width: $size__tablet + 150px;
  }
  & > .alignfull {
    max-width: 100%;
  }
  & > .wp-block-webfactory-map {
    margin: 0;
    max-width: 100%;
  }

  & > ul > li {
    margin: 0 0 0 4rem;
  }

  ul li a,
  p a,
  table a {
    color: $color__link-hl;
    font-weight: 500;
    border-bottom: 2px solid $color__link-hl;
  }

  @media screen and (max-width: $size__tablet) {

    margin: 0;

    & > * {
      max-width: 100%;
      padding: 0 2rem;
    }

  }

}

.home .entry-content {

  & > * {
    max-width: $size__box-inner;
  }
  & > .alignwide {
    max-width: $size__box-inner + 150px;
  }

  & > .wp-block-webfactory-map {
    max-width: 100%;
  }

  @media screen and (max-width: $size__box-inner) {

    margin: 0;

    & > * {
      max-width: 100%;
      padding: 0 2rem;
    }

  }

}

/* Home */
.lista-icono {
  margin-bottom: 2rem;

  .lista-icono-titulo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;

    & > * {
      width: auto;
      margin-right: 10px;
    }

    & + p {
      margin-left: 36px;
    }
  }
}

/* Columnas */
@media screen and (min-width: 782px) {
  .wp-block-column:not(:last-child) {
    padding-right: 3rem;
  }
}

/* Galerías */
.wp-block-gallery {
  margin: 0;
}
