body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-body;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
	font-weight: 300;
}

@import "headings";

@import "copy";
