.button-content {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	@include font-size(1);
	font-family: $font__header;
	display: inline-block;
	text-transform: uppercase;
	padding: 4px 14px;
	color: $color__text-hl;
	border: 2px solid $color__border-button-hl;
	background-color: transparent;
	border-radius: 0;
	cursor: pointer;
	margin: 0 1rem;
	transition: all ease-in-out 0.15s;

	&:hover,
	&:active,
	&:focus {
		background-color: $color__background-button-hl;
		color: $color__text-hl;
		transition: all ease-in-out 0.25s;
		transform: translate(0, 1px);
	}

	&.secundary {
		background-color: $color__background-button;
		border: 2px solid $color__border-button;
	}

	@media screen and (max-width: $size__tablet) {

		width: 100%;
		margin: 0.5rem 0;

	}
}

.entry-content,
.wp-block-button {

	button,
	.button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	& > .wp-block-button__link {
		@include font-size(1);
		font-family: $font__header;
		display: inline-block;
		text-transform: uppercase;
		padding: 4px 14px;
		color: $color__text-body;
		border: 2px solid $color__text-body;
		background-color: transparent;
		border-radius: 0;
		cursor: pointer;
		transition: all ease-in-out 0.15s;

		&:hover,
		&:active,
		&:focus {
			background-color: transparent;
			color: $color__text-body;
			transition: all ease-in-out 0.25s;
			transform: translate(0, 1px);
		}
	}

	button.secundary,
	.button.secundary,
	input[type="button"].secundary,
	input[type="reset"].secundary,
	input[type="submit"].secundary,
	&.secundary .wp-block-button__link {
		width: auto;
		text-transform: initial;
		padding: 0;
		border: 0;
		border-bottom: 2px solid $color__text-body;
	}

	@media screen and (max-width: $size__tablet) {

		width: 100%;
		margin: 0.5rem 0;

	}

}