input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-body;
	padding: 3px;
	border: 0;

	&:focus {
		color: $color__link-hl;
	}
}

select {

}

textarea {
	width: 100%;
}
.tix_tickets_table.tix-attendee-form,
.gform_wrapper {
	background-color: $color__background-input;
	padding: 2rem 3rem;
}

.gfield,
.gfield_checkbox {
	list-style: none;
	margin: 0;
	font-weight: 300;

	input {
		border: 1px solid $color__text-hl;
		border-radius: 2px;
	}
	& > li {
		margin: 0;
	}
}
.gform_fields {
	margin: 0;
	font-weight: 500;
}
select,
.gfield_select,
.tix-column-quantity select {
	height: 33px;
	background-color: white;
	border: 1px solid $color__text-hl;
	border-radius: 2px;
}
body .gform_wrapper ul li.gfield:not(:first-child),
.gform_wrapper ul.gform_fields li.gfield:not(:first-child) {
	margin: 2rem 0;
}
/* botones acción alineación derecha */
.gform_wrapper .gform_footer,
.gform_wrapper .gform_page_footer {
	text-align: right;

	.button,
	button {
		background-color: $color__background-button;
		border: 2px solid $color__border-button;
	}
}
/* anchura textarea */
@media only screen and (min-width: 641px) {
	.gform_wrapper textarea.medium {
		width: calc(50% - 8px);
	}
}
/* Estilo etiqueta opcional */
.gfield_optional {
	font-weight: lighter;
	font-style: italic;
	color: #999;
	font-size: 0.85em;
	margin-left: 0.5rem
}
.gform_wrapper label.gfield_label {
	font-weight: 500;
}
/* Consentimiento */
p.rgpd-banner {
	@include font-size(0.6);
}