#colophon {
  background-color: $color__main-dark;
  width: $size__site-main;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 3rem 0;

  h3, a {
    color: $color__text-hl;
  }
  h3 {
    margin-bottom: 1rem;
  }

  .button {
    margin: 1rem 0;
  }

  p, ul {
    color: $color__text-hl ;
    margin: 0;
    @include font-size(1);
  }

  .footer-widget {

    margin-bottom: 3rem;

    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      li {
        width: 16.667%;
        max-height: 100px;
        list-style: none;
        text-align: center;

        img {

          max-height: 100px;
          width: auto;
        }
      }

    }
  }

  .footer-navigation {

    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      li {
        list-style: none;
      }
      li:not(:last-child) {
        margin: 0 2rem 0 0;
      }
    }
  }

}