.site-header {
  height: 280px;
  width: $size__site-main;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: $size__tablet) {
    height: 300px;
    background-position: 0;
  }

}

.home .site-header {
  height: 568px;

  @media screen and (max-width: $size__tablet) {
    height: 568px;
  }

}

.top-bar {
  width: $size__site-main;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;


  @media screen and (max-width: $size__tablet) {

  }

}

.hero {
  width: $size__site-main;
  height: 280px - 80px;
  color: $color__text-hl;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .hero {
  height: 568px - 2*80px;
}