.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-categories {
	margin: 0;
}

.the-date {
	color: $color__text-hero-light;
	font-weight: 500;
}

.entry-content {

	a,
	table a {
		color: $color__link-hl;
		font-weight: 500;
		border-bottom: 2px solid $color__link-hl;
	}

}